
body {
    background-image: url("");
}

button {
    border-radius: 8.8px;
    box-shadow: none;
    color: #015738;
    display: block;
    font-size: 15px;
    margin-right: 6px;
    margin-left: 12px;
    margin-top: 20px;
    text-align: right;
}

button:hover {
    background-color: #ffffff;
    color: #0a0909;
}

h1 {
    color: #0a0909;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin-left: 42px;
    margin-top: 5px;
    }

h2 {
    color: #0a0909;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 20px;
}


/* img #icon {
    font-size: 10px;
    margin-left: -10px;
    margin-top: 0px;
} */

a {
    color: #0a0909;
    text-decoration: none;
}

ul {
    font-size: 15px;
    margin-top: 40px;
}

li {
    list-style: none;
}


.nav {
    border-radius: 0px;
    margin-bottom: -5px;
    margin-left: 6px;
    margin-top: 20px;
}

.weather-box {
    background-color: rgb(143, 150, 181);
    background-size: 900px;
    border: 1px solid #005792;
    border-radius: 13px;
    box-shadow: 4px 2px rgb(51, 48, 80);
    display: block;
    height: 500px;
    margin-top: 50px;
    width: 700px;
}

.date {
    color: #0a0909;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 30px;
}

.value{
    bottom: 20px;
    font-size: 15px;
    position: relative;
}

.celcius-link {
    color: rgb(119, 139, 133);
    font-size: 26px;
}


.fahrenheit-link {
    color: rgb(119, 139, 133);
    font-size: 25px;
}

.degreeSelected {
    color: #0a0909;
}

.extra {
    color: #0a0909;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
}
   
.box{
    background-color: rgb(170, 179, 208);
    border-radius: 1%;
    bottom: -15px;
    margin: 0 8.4px;
}

.alert-heading {
    color: #53484e;
    font-size: 15px;
    text-align: center;
}

.detail {
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
}

.day {
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-weight: 400px;
    opacity: 0.7;
}

.icon {
    color: #a54f12;
    font-size: 18px;
}

.temp {
    color: rgb(10, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.low-temp {
    font-size: 10px;
    opacity: 0.5;
    position: relative;
    top: 7px;
}

.footer {
    color: #53484e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0%;
}

.source {
    display: inline;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    color: rgb(215, 13, 208);
    font-weight: bold;
    text-align: center;
}

.name {
    color: #de6610;
    pointer-events: none;
}
