
body {
    background-image: url("");
}

button {
    border-radius: 8.8px;
    box-shadow: none;
    color: #015738;
    display: block;
    text-align: right;
    margin-right: 6px;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 15px;
}

button:hover {
    background-color: #ffffff;
    color: #0a0909;
}

h1 {
    color: #0a0909;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    margin-left: 52px;
    margin-top: 5px;
    }

h2 {
    color: #0a0909;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-left: 8px;
    margin-top: 5px;
}


img #icon {
    margin-top: 0px;
    font-size: 10px;
    margin-left: -10px;

}

a {
    color: #0a0909;
    text-decoration: none;
}

ul {
    font-size: 14px;
    margin-top: 40px;
}

li {
    list-style: none;
}


.nav {
    border-radius: 0px;
    margin-bottom: -5px;
    margin-left: 6px;
    margin-top: 20px;
}

.weather-box {
    background-size: 900px;
    background-color:rgb(143, 150, 181);
    border: 1px solid #005792;
    border-radius: 13px;
    box-shadow: 4px 2px rgb(51, 48, 80);
    display: block;
    height: 500px;
    margin-top: 50px;
    width: 700px;
}

.date {
    color: #0a0909;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 30px;
}

.value{
    bottom: 20px;
    font-size: 15px;
    position: relative;
}

.celcius-link {
    font-size: 26px;
    color: rgb(3, 90, 61);
}


.fahrenheit-link {
    font-size: 25px;
    color: rgb(3, 90, 61);
}

.degreeSelected {
    color: #0a0909;
}

.extra {
    color: #0a0909;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
}
   
.box{
    background-color: rgb(170, 179, 208);
    border-radius: 1%;
    margin: 0 8.4px;
    bottom: -15px;
}

.alert-heading {
    color: #f2eef0;
    font-size: 15px;
    text-align: center;
}

.detail {
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
    
}

.day {
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-weight: 400px;
    opacity: 0.7;
    /* position: relative;
    left: 20px; */
}

.icon {
    color: #a54f12;
    font-size: 18px;
    /* position: relative;
    left: 22px; */
}

.temp {
    color: rgb(10, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.low-temp {
    font-size: 10px;
    opacity: 0.5;
    position: relative;
    top: 7px;
}

.footer {
    color: #f2eef0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0%;
}

.source {
    color: #130572;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    margin-top: 50px;
}

.GitHub {
    color: rgb(92, 223, 184);
    font-weight: bold;
    text-align: center;
}

.GitHub:hover {
    color:rgb(162, 73, 141); 
}

