
body {
    background-image: url("");
}

button {
    border-radius: 4px;
    box-shadow: none;
    color: #015738;
    margin-top: -26px;
    margin-right: -12px;
    padding: 9px 10px;
    position: relative;
}

button:hover {
    background-color: #015738;
    color: #fff;
}

h1 {
    color: #f1ecec;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin-left: 52px;
    margin-top: 5px;
    }

h2 {
    color: #f1ecec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-left: 68px;
    margin-top: 5px;
}

a {
    color:#f1ecec;
    text-decoration: none;
}

ul {
    font-size: 14px;
    margin-top: 10px;
}

li {
    list-style: none;
}


.nav {
    border-radius: 0px;
    margin-bottom: -5px;
    margin-left: 6px;
    margin-top: 20px;   
}

.weather-box {
    background-image: url("nightsky.jpg");
    background-size: 1000px;
    border: 1px solid #005792;
    border-radius: 13px;
    box-shadow: 4px 2px #f1ecec;
    display: block;
    height: 500px;
    margin-top: 50px;
    width: 700px;
}

.date {
    color: #f1ecec;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 30px;
}

.value{
    bottom: 20px;
    font-size: 15px;
    position: relative;
}

.celcius-link {
    font-size: 26px;
    color: rgb(3, 90, 61);
}


.fahrenheit-link {
    font-size: 25px;
    color: rgb(3, 90, 61);
}

.degreeSelected {
    color: #f1ecec;
}

.extra {
    color: #f1ecec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
}
   
.box{
    background-color: #f1ecec;
    border-radius: 1%;
    margin: 0 8.4px;
}

.alert-heading {
    color: #30031f;
    font-size: 17px;
    text-align: center;
}

.detail {
    font-size: 12px;
    font-weight: 400px;
}

.day {
    color: rgb(191, 7, 148);
    font-size: 14px;
    font-weight: 400px;
    opacity: 10px;
    position: relative;
    left: 20px;
}

.icon {
    color: #015738;
    font-size: 25px;
    position: relative;
    left: 22px;
}

.temp {
    color: rgb(191, 7, 148);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.low-temp {
    font-size: 10px;
    opacity: 0.5;
    position: relative;
    top: 7px;
}

.footer {
    color: #30031f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0%;
}

.source {
    color: #f1ecec;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

.GitHub {
    color: rgb(120, 222, 190);
    font-weight: bold;
}

